* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main */
main {
  height: 100vh;
  background-color: #f9aeff;
}
/* Section */
.calc {
  display: flex;
  flex-direction: column;
  flex: wrap;
  align-items: center;
}
/* Form */

.layout {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 15%;
  margin-top: 15px;
  margin-left: 15px;
  width: 30vw;
  height: 140px;
  text-align: center;
  background-color: #6d30cf;
}

.name {
  padding-left: 5px;
  padding-right: 5px;
}

/* Input */

.input {
  margin-left: 15px;
}

/* Height */

#height {
  width: 45px;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Weight */

#weight {
  width: 45px;
}

/* Output */
.container {
  display: flex;
  align-self: center;
}

#output {
  border: 1px solid #d2d2d2;
  height: 20px;
  width: 45px;
  background-color: white;
  margin-top: 4px;
  margin-left: 3px;
}

/* Result */

#Result {
  font-size: 20px;
}

/* Button */
.button {
  width: 60px;
  align-self: center;
}
